html 
    head 
        link(rel="stylesheet", href="/style/bootstrap")
    body
        main(class="container")
            div(class="row")
                block content
        script(src="/scripts/jquery")
        script(src="/scripts/popper.js")
        script(src="/scripts/bootstrap")

